.todo-lists,
.todo-list {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.todo-lists .todo-list {
  margin-bottom: 20px;
}

.todo-list-options {
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #888;
}
