.list-item-date {
  white-space: nowrap;
  background-color: #fde499;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 12px;
  color: #9c780a;
  margin-left: 6px;
  user-select: none;
  text-align: center;
}

.list-item-date--completed {
  background-color: #e7e7e7;
  color: #969696;
}
