.list-header {
  border-bottom: 1px solid #F2F2F2;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 10px;
  margin-left: 20px;
  text-transform: capitalize;
  user-select: none;
  display: flex;
  align-items: center;
  transition: color .15s;
  flex:none;
  min-height: 64px;
}

.list-header__group {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
}

.list-header__title {
  display: flex;
  font-weight: var(--weight__bold);
  font-size: 22px;
  align-items: center;
  margin-right: 10px;
}

.list-header__date {
  color: #939090;
  font-weight: var(--weight__light);
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  top: 2px;
}

.list-header .ico-filter {
  color: #999;
  font-size: 10px;
  padding: 10px;
  transition: color .15s;
  cursor: pointer;
}

.list-header .ico-filter:hover {
  transition: color .15s;
  color: #333;
}

.list-header .ico-filter--active {
  color: #333;
}
