.btn {
  align-items: center;
  appearance: none;
  background-color: var(--color__primary);
  border-radius: var(--border-radius);
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: var(--weight__medium);
  height: 52px;
  justify-content: center;
  letter-spacing: .25px;
  width: 100%;
}
