.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: auto;
  margin-bottom: auto;
}

.form-header {
  font-size: 34px;
  font-weight: var(--weight__bold);
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  user-select: none;
}

.form-input {
  background-color: #e7ebef;
  border: 2px solid #e7ebef;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: var(--weight__medium);
  height: 52px;
  margin-bottom: 16px;
  padding: 0;
  text-indent: 14px;
  width: 100%;
  border-radius: var(--border-radius);
}

.form-input:focus {
  outline: 0;
  background-color: #fff;
}

.form-label {
  font-size: 14px;
  font-weight: var(--weight__bold);
  margin-bottom: 4px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  user-select: none;
}

.form-link {
  color: #999;
  cursor: pointer;
  font-size: 16px;
  font-weight: var(--weight__medium);
  padding: 10px;
  transition: color .15s;
}

.form-link:hover {
  color: #666;
  transition: color .15s;
}
