:root {
  /*Colors*/
  --color__primary: #0052FF;

  /*Font Family*/
  --font-family: 'Roboto', sans-serif;

  /*Font weight scale*/
  --weight__normal: 400;
  --weight__medium: 500;
  --weight__bold: 700;

  /*Misc*/
  --border-radius: 3px;
}
