.sidebar {
  display: flex;
  flex: 0 0 240px;
  flex-direction: column;
  /*background-color: #EDF2F6;*/
  border-right: 1px solid #f2f2f2;
  padding: 20px;
}

.sidebar-group {
  margin-bottom: 30px;
}
