.sidebar {
  display: flex;
  flex: 0 0 240px;
  flex-direction: column;
  border-right: 1px solid #f2f2f2;
  padding: 20px;
}

.sidebar--visible {
  display: flex;
}

.sidebar-group {
  margin-bottom: 30px;
}

.sidebar-group--settings {
  margin-top: auto;
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 2;
    display: none;
  }
}
