* {
  box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}
body {
    background-attachment: fixed;
    background-color: #f3f5f7;
    background-image: linear-gradient(#f3f5f7, #fff);
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    height: 100%;
    margin: 0;
    overflow: auto;
}

.todos-app {
  /*max-width: 700px;*/
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.15);
  padding: 20px 0;
  border-radius: 10px;
}

.todo, .todo--placeholder {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

.todo--placeholder {
  background-color: #f2f2f2;
  height: 50px;
}

.todo--event:before {
  background-color: #fde499;
  border-radius: 0 3px 3px 0;
  content: "";
  height: 80%;
  left: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
}

.todo--completed.todo--event:before {
  background-color: #e7e7e7;
}

.todo__actions {
  display: none;
}

  .todo:hover .todo__actions {
    display: flex;
  }

.todo {
  /*border-bottom: 1px solid #f2f2f2;*/
  padding-top: 0;
  padding-bottom: 0;
  transition-property: padding-top, padding-bottom, background-color;
  transition-duration: .1s;
  transition-timing-function: ease-in;
  background-color: transparent;
}

.todo--editing {
  background-color: #f9f9f9;
  padding-top: 6px;
  padding-bottom: 6px;
  transition-property: padding-top, padding-bottom, background-color;
  transition-duration: .1s;
  transition-timing-function: ease-in;
}

.todo--highlight {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: todo-highlight;
  animation-timing-function: ease-in-out;
}

.todo--add input[type="checkbox"] {
  opacity: .5;
}

.todo__add {
    background-color: transparent;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    margin: 2px 0 0 26px;
    padding: 10px 0;
    text-indent: 10px;
    white-space: nowrap;
    width: 100%;
    font-family: inherit;
    color: #333;
}

  .todo__add:focus {
    outline: 0;
  }

  .todo__add::placeholder {
    color: #999;
  }

.todos:empty {
  /*height: 100px;
  background-color: yellow;*/
}

.todo__title {
  background-color: transparent;
  border-radius: 3px;
  border: 0;
  color: #555;
  font-family: inherit;
  font-size: 16px;
  margin-right: 10px;
  margin: 2px 0;
  overflow: hidden;
  padding: 10px 0;
  text-indent: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

  .todo__title a {
    text-decoration: none;
    color: #0366d6;
    background-color: #eff5fb;
    border-radius: 100px;
    padding: 2px 10px;
  }

  .todo__title a:hover {
    background-color: #daedff;
  }

  .todos--today .todo:nth-child(1) .todo__title {
    color: #000;
  }

  .todos--today .todo:nth-child(2) .todo__title {
    color: #333;
  }

  .todos--today .todo:nth-child(3) .todo__title {
    color: #333;
  }

  .todo__title:focus {
    outline: none;
  }

.todo--completed .todo__title {
  opacity: .5;
}

.todo--completed .todo__title {
  text-decoration: line-through;
}

.todo__remove,
.todo__move {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  color: #ccc;
  cursor: pointer;
  opacity: 0;
}

.todo:hover .todo__remove,
.todo:hover .todo__move {
  opacity: 1;
}

.todo__remove:hover,
.todo__move:hover {
  background-color: #333;
  color: #fff;
}

.todo__remove {
  margin-left: auto;
}

.todo__move {
  margin-left: 10px;
}

.todo--completed .todo__remove {
}

.todo__due-at {
  white-space: nowrap;
  background-color: #fde499;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 12px;
  color: #9c780a;
  margin-left: 6px;
  user-select: none;
  text-align: center;
}

  .todo--completed .todo__due-at {
    background-color: #e7e7e7;
    color: #969696;
  }

.todo-list-options {
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #888;
}

.todo-list-section {
  margin-bottom: 40px;
}

/*Ensure todo child elements are not drop targets for drag / drop sorting*/
.todos--drag-active .todo * {
  pointer-events: none;
}

.todo-list-section__header {
  border-bottom: 1px solid #f9f9f9;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  user-select: none;
}

.todo-list-section__header:hover {
  color: #333;
}

.todo-list-section__header span {
  background-color: #a804d5;
  color: #fff;
  padding: 2px 10px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 12px;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.title {
  font-size: 20px;
  color: #0366d6;
  max-width: 75%;
}

/*.input {
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  text-indent: 10px;
  height: 52px;
  border-radius: 3px;
  font-family: 'Archivo Narrow', sans-serif;
}

.input:focus {
  border-color: #0366d6;
  outline: 0;
}*/

.input[type="checkbox"] {
  margin: 0;
}

label {
  line-height: 0;
  cursor: default;
  padding: 10px 5px 10px;
  user-select: none;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
}

.todo--enter {
  opacity: 0.01;
  height: 20px;
}

.todo--enter.todo--enter-active {
  opacity: 1;
  transition-property: opacity, height;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  height: 43px;
}

.todo--leave {
  opacity: 1;
  height: 43px;
}

.todo--leave.todo--leave-active {
  opacity: 0;
  transition-property: opacity, height;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  height: 1px;
}

@keyframes todo-highlight {
    0% {
        background-color: #fde499;
    }
    100 {
        background-color: #fff;
    }
}
