* {
  box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#f3f5f7, #fff);
    background-color: #f3f5f7;
    font-family: 'Archivo Narrow', sans-serif;
}

.todos-app {
  max-width: 700px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
  padding: 20px;
  border-radius: 4px;
}

.todo, .todo--placeholder {
  display: flex;
  align-items: center;
  border-left-width: 3px;
  cursor: pointer;
}

.todo--placeholder {
  background-color: #f2f2f2;
  height: 50px;
}

.todo__actions {
  display: flex;
}

.todo {
  border-bottom: 1px solid #f2f2f2;
}

.todo:hover {
  border-left-color: #0366d6;
}

.todo--highlight {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: todo-highlight;
  animation-timing-function: ease-in-out;
}

.todo--add input[type="checkbox"] {
  opacity: .5;
}

.todo__add {
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    margin: 2px 0;
    border: 0;
    padding: 14px 0;
    white-space: nowrap;
    width: 100%;
    letter-spacing: -0.25px;
    text-indent: 10px;
}

  .todo__add:focus {
    outline: 0;
  }

  .todo__add::placeholder {
    color: #0366d6;
  }

.todo__title {
  background-color: transparent;
  border-radius: 3px;
  border: 0;
  color: #888;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
  margin: 2px 0;
  overflow: hidden;
  padding: 14px 0;
  text-indent: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  letter-spacing: -0.25px;
}

  .todos--today .todo:nth-child(1) .todo__title {
    color: #000;
    font-weight: 700;
  }

  .todos--today .todo:nth-child(2) .todo__title {
    color: #333;
    font-weight: 600;
  }

  .todos--today .todo:nth-child(3) .todo__title {
    color: #555;
  }

  .todo__title:focus {
    outline: none;
    background-color: #e8ebf1;
  }

.todo--complete .todo__title {
  opacity: .5;
}

.todo--complete .todo__title {
  text-decoration: line-through;
}

.todo__remove,
.todo__move {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  color: #ccc;
  cursor: pointer;
  opacity: 0;
}

.todo:hover .todo__remove,
.todo:hover .todo__move {
  opacity: 1;
}

.todo__remove:hover,
.todo__move:hover {
  background-color: #333;
  color: #fff;
}

.todo__remove {
  margin-left: auto;
}

.todo__move {
  margin-left: 10px;
}

.todo--complete .todo__remove {
}

.todo__due-at {
  white-space: nowrap;
  background-color: #fde499;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 6px;
  color: rgba(0,0,0,.75);
  margin-left: 6px;
  user-select: none;
}

  .todo--complete .todo__due-at {
    background-color: #e7e7e7;
    color: #969696;
  }

.todo-list-options {
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #888;
}

.todo-list-section {
  margin-bottom: 40px;
}

/*Ensure todo child elements are no drop targets for drag / drop sorting*/
.todos--drag-active .todo * {
  pointer-events: none;
}

.todo-list-section__header {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #f9f9f9;
    cursor: pointer;
    user-select: none;
}

.todo-list-section__header:hover {
  color: #0366d6;
}

.todo-list-section__header--hidden {
  color: #ccc;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #0366d6;
  max-width: 75%;
}

.input {
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  text-indent: 10px;
  height: 52px;
  border-radius: 3px;
}

.input:focus {
  border-color: #0366d6;
  outline: 0;
}

.input[type="checkbox"] {
  margin: 0;
}

label {
  line-height: 0;
  cursor: default;
  padding: 10px 5px 10px;
  user-select: none;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
}

.todo--enter {
  opacity: 0.01;
  height: 20px;
}

.todo--enter.todo--enter-active {
  opacity: 1;
  transition-property: opacity, height;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  height: 50px;
}

.todo--leave {
  opacity: 1;
  height: 50px;
}

.todo--leave.todo--leave-active {
  opacity: 0;
  transition-property: opacity, height;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  height: 20px;
}

@keyframes todo-highlight {
    0% {
        background-color: #fde499;
    }
    100 {
        background-color: #fff;
    }
}
